.contact {
  padding-top: 25px;
  border-top: 0.5px solid rgba(128, 128, 128, 0.5);
}

.title {
  font-size: 22px;
  margin-bottom: 10px;
}

.title_capital {
  color: rgb(255, 69, 0);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 10px;
}

.first_row {
  display: flex;
  flex-direction: row;
  gap: 12px;
  width: 100%;
}

.label {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label_title {
  color: rgb(71, 71, 71);
  font-size: 16px;
  margin-bottom: 6px;
}

.input {
  background-color: rgb(255, 252, 249);
  border: transparent;
  border-top: 2px solid transparent;
  border-bottom: 1px solid rgb(255, 69, 0);
  height: 32px;
  padding: 5px;
  outline: none;
}

.input:focus {
  border-bottom: 2px solid rgb(255, 69, 0);
}

.textarea {
  background-color: rgb(255, 252, 249);
  border: transparent;
  border-top: 2px solid transparent;
  border-bottom: 1px solid rgb(255, 69, 0);
  height: 100px;
  padding: 5px;
  outline: none;
}

.textarea:focus {
  border-bottom: 2px solid rgb(255, 69, 0);
}

.button {
  background-color: transparent;
  color: rgb(15, 15, 15);
  border: 2px solid rgb(255, 69, 0);
  margin-top: 16px;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: rgb(255, 69, 0);
  color: rgb(250, 250, 250);
}

.button:disabled {
  background-color: #CCCCCC;
  border: 2px solid #CCCCCC;
  color: #979797;
  cursor: not-allowed;
}

.mail_alert {
  display: none;
  background-color: #4caf50;
  color: white;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}

.show_alert {
  display: block;
}

@media (max-width: 768px) {
  .form {
    gap: 24px;
  }

  .first_row {
    flex-direction: column;
    gap: 24px;
  }

  .button {
    padding: 14px 80px;
    font-size: 18px;
  }
}
