.interests {
  padding-top: 25px;
  border-top: 0.5px solid rgba(128, 128, 128, 0.5);
}

.title {
  font-size: 22px;
  margin-bottom: 10px;
}

.title_capital {
  color: rgb(255, 69, 0);
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 8px;
  list-style-type: none;
  padding: 10px;
}

.list_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.list_item:hover {
  text-decoration: underline;
}

.item_icon {
  width: 20px;
  height: 20px;
}
